@model IEnumerable<DrogNet.Models.Factura>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Domicilio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Referencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoPago)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domicilio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendedor.VendedorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.ClienteID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPago.TipoPagoID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FacturaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FacturaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FacturaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
