@model IEnumerable<DrogNet.Models.QuejaSugerencia>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          @{ if (item.Tema == true)
              {
                  <td>Queja</td>
              }
              else
              {
                  <td>Sugerencia</td>
              }


            }
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QuejaSugerenciaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.QuejaSugerenciaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.QuejaSugerenciaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
