@model Producto
@{
    ViewData["Title"] = "Details";
    var PathFile = "~/images/" + (Model.PathFile ?? "Noimagen.jpg");
}


<link rel="stylesheet" href="~/css/aos.css" />
<link rel="stylesheet" href="~/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/jquery-ui.css" />
<link rel="stylesheet" href="~/css/magnific-popup.css" />
<link rel="stylesheet" href="~/css/owl.carousel.min.css" />
<link rel="stylesheet" href="~/css/owl.theme.default.min.css" />
<link rel="stylesheet" href="~/css/style.css" />
<link rel="stylesheet" href="~/fonts/icomoon/style.css" />
<link rel="stylesheet" href="~/css/registro.css" />




<hr />


<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mr-auto">
                <div class="border text-center">
                    <img class="card-img-top" src="@PathFile" asp-append-version="true" width="300px" height="300px">
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="text-black">  @Html.DisplayFor(model => model.Nombre)</h2>


                <p><del>$95.00</del>  <strong class="text-primary h4"> $@Html.DisplayFor(model => model.Precio)</strong></p>



                <div class="mb-5">
                    <div class="input-group mb-3" style="max-width: 220px;">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                        </div>
                        <input type="text" class="form-control text-center" value="1" placeholder=""
                               aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                        </div>
                    </div>

                </div>
                <p><a href="cart.html" class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary">Añadir al carrito</a></p>

                <div class="mt-5">
                    <ul class="nav nav-pills mb-3 custom-pill" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                               aria-controls="pills-home" aria-selected="true">Especificaciones</a>
                        </li>

                    </ul>
                    <div class="tab-content" id="pills-tabContent">

                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                            <table class="table custom-table">

                                <tbody>
                                    <tr>
                                        <td>Fecha de vencimiento</td>
                                        <td class="bg-light"> @Html.DisplayFor(model => model.FechaVencimiento)</td>
                                    </tr>
                                    <tr>
                                        <td>Tipo de medicamento</td>
                                        <td class="bg-light">  @Html.DisplayFor(model => model.TipoMedicamento.Nombre)</td>
                                    </tr>
                                    <tr>
                                        <td>Lote</td>
                                        <td class="bg-light">    @Html.DisplayFor(model => model.Lote)</td>
                                    </tr>
                                    <tr>
                                        <td>Laboratorio</td>
                                        <td class="bg-light"> @Html.DisplayFor(model => model.Laboratorio)</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
    <br />

</div>
    <center>
        <div>
            <p><a asp-action="Index" class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary">Volver a la lista</a></p>


        </div>
    </center>


